@using MCBADataLibrary.Enums;
@using MCBADataLibrary.Models;
@model IEnumerable<BillPay>
@{
    ViewData["Title"] = "Bills";
}

<div>
    <h3>Your Bills</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.BillPayID)</th>
            <th>@Html.DisplayNameFor(x => x.Payee.Name)</th>
            <th>@Html.DisplayNameFor(x => x.AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Amount)</th>
            <th>Status</th>
            <th>@Html.DisplayNameFor(x => x.ScheduleTimeUtc)</th>
            <th>@Html.DisplayNameFor(x => x.Period)</th>
            <th></th>
        </tr>
        @foreach (var bill in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => bill.BillPayID)</td>
                <td>@Html.DisplayFor(x => bill.Payee.Name)</td>
                <td>@Html.DisplayFor(x => bill.AccountNumber)</td>
                <td>@Html.DisplayFor(x => bill.Amount)</td>
                <td>@Html.DisplayFor(x => bill.BillStatus)</td>
                <td>@bill.ScheduleTimeUtc.ToLocalTime().ToString("dd/MM/yyyy hh:mm tt")</td>
                <td>@Html.DisplayFor(x => bill.Period)</td>
                @{ var isBlocked = (bill.BillStatus == BillStatus.Blocked);}
                <td>
                    @if (bill.BillStatus == BillStatus.Late)
                    {
                        <a asp-action="RetryBill" asp-route-id="@bill.BillPayID" class="btn btn-warning @(isBlocked  ? "disabled" : "")">Retry</a>
                    }
                    <a asp-action="CancelBill" asp-route-id="@bill.BillPayID" class="btn btn-danger @(isBlocked  ? "disabled" : "")">Cancel</a>
                </td>
            </tr>

        }
    </table>
    <div class="d-flex justify-content-center">
        <a asp-action="NewBill" class="btn btn-primary my-3 mx-auto d-block">New Bill</a>
    </div>
</div>
